@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/metropolis');
@import url(index.js);

:root {
    --normal: #f9b118;
    --hover: #e29c07;
    --active: #6b4a02;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    /* font-family: 'MetropolisRegular'; */
    font-family: 'Metropolis';
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-top: 70px;
    background-image: url('src/image/Home\ BG.png');
    background-size: 1980px 811px;
    overflow-y: scroll;
    overflow-x: hidden;

}

header {
    display: flex;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    padding: 3%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header-left {
    flex: 2;
    padding-left: 15%;
}

header {
    background-image: linear-gradient(to bottom, rgba(249, 178, 24, 0.155) 20%, rgba(249, 177, 24, 0) 90%);
}

.header-middle h5:hover {
    color: var(--hover);
    font-weight: 600;
}

/* .header-middle h5 {
    color: white;
    cursor: pointer;
}

.header-middle h5.clicado {
    color: red;
} */

.header-middle {
    display: flex;
    align-items: center;
    flex: 6;
    gap: 5%;
    margin-left: 6%;
    font-weight: 700 !important;
}

.header-middle h6{
    font-weight: 500 !important;
}


.Ass {
    background-color: #f9b118;
    border-radius: 13px;
    padding: 10px;
    padding-inline: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    size: 1px;
    border: 5px;
    font-size: 14px !important;
    font-weight: 700;
}

.Ass:hover {
    background-color: #e29c07;
}

.Ass:active {
    background-color: #bc8206;
}

.Ass_h3:hover {
    font-weight: 700;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    /* padding-block-end: 15%; */
}


.container1 {
    display: flex;
    align-items: center;
}

.description {
    flex: 1;
}

.description h1 {
    font-size: 54px;
    font-weight: 500 !important;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.description b {
    font-weight: 800 !important;
}

.description span {
    font-weight: 100;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.description h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 2px;
    padding-block-end: 45px;
}

/* .formulario {
    margin-top: 50px;
    padding-top: 50px;
} */

.search-form input[type="text"] {
    width: 420px;
    height: 50px;
    padding: 25px;
    border: 2px solid #f9b118;
    border-radius: 10px;
    color: #ffff;
    background-color: rgb(26, 26, 26);
}

.search-form {
    display: flex;
    align-items: center;
    width: 400px;
    height: 45px;
    border: 2px solid #f9b118;
    border-radius: 10px;
    background-color: rgb(26, 26, 26);
    padding-left: 10px;
}

.search-form input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    color: #fff;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.search-form:before {
    content: '';
    display: inline-block;
    margin-top: 3.5%;
    width: 45px;
    height: 45px;
    justify-content: center;
    background-image: url('src/svg/CHAT_ICON.svg');
    background-size: contain;
    background-repeat: no-repeat;
}


.search-form button {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.search-form button {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.image-container {
    flex: 1;
    display: flex;
    padding-top: 5%;
    justify-content: flex-end;
    align-items: center;
}

.image-container img {
    margin-left: 20px;
    margin-right: 15px;
    /* adiciona margem à direita para separar da descrição e do form */
}

footer {
    padding-top: 10%;
    background: #fff;
}

.clientes {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 13%;
}

.carrossel {
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 120px;
    width: 100%;
    margin: 3%;
}

.carrossel img {
    width: 30%;
    max-width: 30%;
    height: 40%;
    margin: 10px;
    border-radius: 10px;
    animation: slide 40s linear infinite;
}

.container {
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url('src/image/EndBG.png');
}

.end {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 5% 10%;
    font-size: 20px;
    font-family:'Metropolis' !important;
}

.end p {
    font-family: 'Metropolis';
}

.end>p,
.end>div {
    margin: 0;
    /* remover margem padrão para evitar espaços extras */
}

.end_img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.end_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:'Metropolis' !important;
}

@keyframes slide {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    5% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 1;
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {

    /* aplica as alterações abaixo apenas em telas menores que 768px */
    .container1 {
        flex-direction: column;
        align-items: stretch;
    }

    .description {
        margin-bottom: 20px;
    }

    .image-container {
        margin-left: 15px;
        /* adiciona margem à esquerda para separar da descrição e do form */
        justify-content: center;
    }
}